include/NodeRED
[{
        "id": "236f10d50977d83e",
        "type": "mqtt in",
        "z": "6ecf0c3650a6bc1b",
        "name": "",
        "topic": "esp32/temperature",
        "qos": "2",
        "datatype": "auto",
        "broker": "10e78a89.5b4fd5",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 530,
        "y": 260,
        "wires": [
            [
                "69cfc4bf643e2853",
                "7983e2b7caa7e77d"
            ]
        ]
    },
    {
        "id": "69cfc4bf643e2853",
        "type": "debug",
        "z": "6ecf0c3650a6bc1b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 727,
        "y": 227,
        "wires": []
    },
    {
        "id": "7983e2b7caa7e77d",
        "type": "ui_artlessgauge",
        "z": "6ecf0c3650a6bc1b",
        "group": "ESP32",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "icon": "",
        "label": "Gauge",
        "unit": "",
        "layout": "linear",
        "decimals": 0,
        "differential": false,
        "minmax": false,
        "colorTrack": "#555555",
        "style": "",
        "colorFromTheme": true,
        "property": "payload",
        "secondary": "secondary",
        "inline": false,
        "animate": true,
        "sectors": [{
                "val": 0,
                "col": "#ff9900",
                "t": "min",
                "dot": 0
            },
            {
                "val": 10,
                "col": "#ff9900",
                "t": "max",
                "dot": 0
            }
        ],
        "lineWidth": 3,
        "bgcolorFromTheme": true,
        "diffCenter": "",
        "x": 726,
        "y": 313,
        "wires": []
    },
    {
        "id": "4974dbbfd1ddb22d",
        "type": "comment",
        "z": "6ecf0c3650a6bc1b",
        "name": "",
        "info": "net start mosquitto\nmosquitto -v",
        "x": 580,
        "y": 200,
        "wires": []
    },
    {
        "id": "10e78a89.5b4fd5",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    }
]